name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-and-test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Install Nix
      uses: cachix/install-nix-action@v31
      with:
        extra_nix_config: |
          experimental-features = nix-command flakes
    
    - name: Build with Nix
      run: nix build
    
    - name: Run core tests
      run: |
        export LGX_BINARY="$(pwd)/result/bin/lgx"
        ./result/bin/lgx_tests
    
    - name: Run library tests
      run: ./result/bin/lgx_lib_tests
    
    - name: Check nix refs in binaries
      run: ./scripts/check-nix-refs.sh ./result/bin/*
    
    - name: Check nix refs in libraries
      run: ./scripts/check-nix-refs.sh ./result/lib/*
    
    - name: Check bundle refs in binaries
      run: ./scripts/check-bundle-refs.sh ./result/bin/*
    
    - name: Check bundle refs in libraries
      run: ./scripts/check-bundle-refs.sh ./result/lib/*
